<div class="container is-max-desktop">
    <div class="columns is-flex is-flex-direction-column is-vcentered is-justify-content-center is-fullheight">
        <p><%= inputText %></p>
        <p><%= is_speaking %></p>
        <button onclick=<%= stopSpeaking %>>Stop</button>
    </div>
</div>