.is-fullheight {
  height: 100vh;
}
* {
  font-family: "Handlee", cursive;
}
.control .button,
.textarea {
  font-family: "Handlee", cursive;
}
.logo {
  width: 250px;
  /* padding: 22px; */
  /* box-sizing: border-box; */
  /* margin: auto; */
}

mark {
  color: #000;
  background-color: #f4d03f;
}
